#competences {
    width: 90%;
    z-index: 10;
}

#competences section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#competences div, #projects div {
    text-align: center;
    max-width: 370px;
    padding: 10px 20px;
    margin: 5px;
    background-color: var(--card-color);
    border-radius: var(--radius-norm);
}


#competences h3:after {
    display: block;
    height: 2px;
    background-color: #cf6d17;
    content: " ";
    width: 100px;
    margin: 10px auto 0;
}

#competences img{
    width: 50px;
    padding: 10px;
}

#competences img:hover {
    width: 60px;
    padding: 5px;
}
