.mouse-glow {
    position: fixed;
    width: 1400px;
    height: 1500px;
    background: radial-gradient(circle, rgba(255, 165, 0, 1) 0%, rgba(255, 165, 0, 0) 50%);
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: overlay;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out, width 0.1s ease-out, height 0.1s ease-out;
    z-index: 0;
}