@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    background-color: #1e1e1e;
}

body {
    /*display: grid;*/
    place-items: center;
    font-family: "League Spartan", system-ui, sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #ddd;
}

ul {
    list-style: none;
}

.main {
    max-width: 75rem;
    padding: 3em 1.5em;
}

.main__heading {
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 0.75em;
    text-align: center;
    color: #eceff1;
}

